extends layout
 
block content
  h1= title
  - const results = [{ emp_name: "Nani", emp_dept: "Admin", emp_id: 11 },{ emp_name: "Akash", emp_dept: "Accounts", emp_id: 12 } ,{ emp_name: "Sai Krishna", emp_dept: "Recovery", emp_id: 13 },{ emp_name: "Sai Sumanth", emp_dept: "Recovery", emp_id: 14 }]
  script.
    function buy(index){
      alert("Employee Data "+ (index+1));
    }
  div.container-fluid
    div.row
        each item, index in results
          div.col-sm-2(onclick = `buy(${index})`)
             p Employee Name: #{item.emp_name}
             p Employee Department: #{item.emp_dept}
             p EmployeeId: #{item.emp_id}